@import '../../styles/index.scss';

.items-page {
    .card {
        border-radius: 12px;
        padding: 20px 12px;
        margin: 36px 0;
        width: 200px;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }
}
